<h3>Neti Neti Taxon Finder</h3>     

<br/>
<form action="/neti_tf" method="get">                               
<input type="submit" name="submit" value="Start over" />                         
</form>                                                                                 

<!-- <a href='/neti_tf'>Start over</a> -->
<br/>

<p/> Total strings: <%= @i %>
<p>Reading <a href=<%= @url %> target='new'><%= @url %></a></p>


<br />
<table class='nice'>
	<tr>
    <th>Verbatim String (as appears in text)</th>
    <th>Scientific name</th>
	</tr> 
	<% if @tf_arr %>
		<% @tf_arr.each do |name| %>
			<tr><td><%= name[0] %></td><td><%= name[1] %></td></tr>
		<% end %>
	<% end %>
</table>

