<div id="menu">

<ul id="item1">
<li class="top"><a href='/'>Back to index</a></li>
</ul>

<ul id="item2">
<li class="top"><a href='/neti_tf'>Start over</a></li>
<!-- <li class="item"><a href="#">menu item 1</a></li> -->
</ul>

</div>
<div class="clear"></div>
<!-- menu end -->

<h3>Neti Neti Taxon Finder</h3>     

<br/>
<br/>

<p/> Total strings: <%= @i %>
<% if @url && @pure_f_name %>
	<p>Reading <a href=<%= @url %> target='new'><%= @pure_f_name %></a></p>
<% end %>

<%= will_paginate @tf_arr_page %>

<br />
<!-- <table class='nice'>
	<tr>
    <th>Verbatim String (as appears in text)</th>
    <th>Scientific name</th>
	</tr> 
		<% @tf_arr.each do |name| %>
			<tr><td><%= name[0] %></td><td><%= name[1] %></td></tr>
		<% end %>
</table> -->

<a href='/call_for_rec'>Reconcile</a>

