<%= partial(:menu, :kind => "recon") %>

<h3>Reconciliation Tool</h3>

------- <%=  @tmp_dir_host %><%= @neti_result_fname %> ---------

<form method="post" action="/submit" enctype="multipart/form-data" >
	<table class='simple'>
		<tr>
			<th></th><th>List to compare</th><th></th><th>Master list</th>
		</tr>
		
		<!-- <tr><td colspan="2"></td><td colspan="2" align='center'><b><big>Please, choose list to compare</big></b></td></tr> -->
		
		<tr>
			<td></td><td></td>
			<td class="label">Master list URLs:</td>
			<td>
				<select name="url_e" >
					<option selected value='none' %> - - Choose an Master list URL - -</option>
					<% @mfile_names.each do |mfile_name| %>
						<option class='pretty'> <%= mfile_name %> </option>
          <% end %>
				</select>
			</td>
		</tr>
		<tr>
	    <td class="label">Upload File 1:</td>
	    <td id="file_name">Neti Neti taxon finder result</td>
	    <td class="label">Upload file 2:</td>
	    <td><input type='file' name='upload2' id='my_upload'/></td></tr>
	</table>
	<br/>
	<input type=submit value='Submit'>
	<input type=hidden name=url1 value=http://localhost/sinatra/<%= @neti_result_fname %>>
</form>