<%= partial(:menu, :kind => "neti_tf") %>

<h3>Neti Neti Taxon Finder</h3>     
<!-- <h4>Name Extraction from Textual Information - Name Extraction for Taxonomic Indexing</h4>    -->

<br/>
<br/>

<p/> Time: <%= @time_result %> sec
<p/> Total strings: <%= @i %>

<% if @url && @pure_f_name %>
	<p>Reading <a href=<%= @url %> target='new'><%= @pure_f_name %></a></p>
<% end %>

<br />

<% unless @tf_result.to_s.empty? %>
	<table class='nice'>
		<tr>
	    <th>Verbatim String (as appears in text)</th>
	    <th>Scientific name</th>
		</tr> 
		<% @tf_result.each do |name| %>
			<tr><td><%= name[0] %></td><td><%= name[1] %></td></tr>
		<% end %>
	</table>
<% end %>

<br />

<% unless @i == 0 %>
	<a href='/call_for_rec?neti_result_f_name=<%= neti_result_f_name%>'>Reconcile</a>
<% end %>
